<div id="account" class="tab-pane fade in active">
		<table class="table table-user-information">
				<tbody>
						<tr>
								<td>Email:</td>
								<td><%= @profile.email %></td>
						</tr>
						<tr>
								<td>Gender:</td>
								<% if (@profile.gender == "Male") then %>
										<td>Male</td>
								<% else %>
										<td>Female</td>
								<% end %>
						</tr>
						<tr>
								<td>Phone number:</td>
								<td><%= @profile.phone_number %></td>
						</tr>
				</tbody>
		</table>
		<%= link_to("Edit Profile", edit_account_registration_path, :class => "btn btn-primary btn-md")  %>
</div>
