
<div id="sponsorship" class="tab-pane fade">
	<h2>Sponsor Info</h2>
	<P>Sponsors</p>
		<ul>
			<% Account.find(current_account.id).sponsors.each do |s| %>
				<li><%= link_to s.name, s%></li>
			<%end%>
		</ul>

	<p>Sponsoring History</p>
	<table class="table table-sm">
		<thead>
		<tr>
	    <th>Tournament name</th>
	    <th>Sponsor name</th>
	    <th>Amount</th>
  	</tr>
		</thead>
		<tbody>
		<% Account.find(current_account.id).sponsors.each do |s| %>
			<% s.sponsorships.each do |t|%>
				<tr>
					<td><%= link_to t.tournament.name, t.tournament%></td>
					<td><%= link_to s.name, s%></td>
					<td><%= t.amount/100 %></td>
				</tr>
			<%end%>
		<%end%>
		</tbody>
	</table>

</div>
