<div class="static-pages-head padding-navbar">
</div>
<div class ="container">
	<div class="col-xs-12 static-pages-content">
    <legend><h3>Our Partners</h3></legend>
    <div class="row">
	    <figure class="figure">
			<%= image_tag("PING-logo.jpeg", :class=>"figure-img img-fluid rounded")%>
			<figcaption class="figure-caption">PING - Play Your Best!</figcaption>
		</figure>
		<figure class="figure">
			<%= image_tag("Callaway-Golf-logo.png", :class=>"figure-img img-fluid rounded")%>
			<figcaption class="figure-caption">Callway</figcaption>
		</figure>
		<figure class="figure">
			<%= image_tag("KNIGHT_GOLF-logo.png", :class=>"figure-img img-fluid rounded")%>
			<figcaption class="figure-caption">Knight Golf</figcaption>
		</figure>
		<figure class="figure">
			<%= image_tag("srixon-logo.png", :class=>"figure-img img-fluid rounded")%>
			<figcaption class="figure-caption">Srixon Golf Equipments</figcaption>
		</figure>
	</div>
</div>
</div>
