<div class="about-us-image">
</div>

<div class="about-us-background">
    <div class="about-us-container">
        <div class="col-lg-6 col-sm-6">
            <h2 style="color:#006400">OUR IDEA</h2>
            <h3>By golfers, for golfers</h3>
            <h4>
                <br>As golfers ourselves, we know how difficult it is to connect with local golfing communities and join golf tournaments for suitable skill levels.
                We also understand the frustration of tournament organizers to advertise and manage their tournaments efficiently.
            </h4>
            <h4><br>Therefore, we designed Golfi, a free website providing simple yet powerful tools for creating, joining, managing, and sponsoring golf tournaments.</h4>

        </div>
        <div class="col-lg-6 col-sm-6 left-boarder">
            <h2 style="color:#006400">OUR TEAM<br><br></h2>

            <div class="row row-eq-height">
                <div class="col-xs-4 text-center">
                    <%= image_tag("Tuo_Zhang.jpg", :alt => "Tuo_Zhang icon", :class => "img-circle")%>
                </div>
                <div class="col-xs-8">
                    <h3>Tuo Zhang</h3>
                    <h4>Lead developer<br>Back-end designer<br>Software architecture designer<br><br></h4>
                </div>
            </div>

            <div class="row row-eq-height">
                <div class="col-xs-4 text-center">
                    <%= image_tag("Stumm.jpg", :alt => "Professor Stumm icon", :class => "img-circle")%>
                </div>
                <div class="col-xs-8">
                    <h3>Michael Stumm</h3>
                    <h4>Project Manager<br>CSC444 Professor<br>BEST Professor ever</h4>
                </div>
            </div>
        </div>
    </div>
</div>
