<div class="padding-navbar tournament-background row">
    <div class="col-md-8 col-md-offset-2">
        <div class=" glass-container row">
            <h1>Edit Tournament</h1>
            <%= render "tournaments/form" %><br/>
            <div class="col-md-3">
                <%= button_to "Delete this tournament", {:controller => 'tournaments', :action => 'destroy', :id => @tournament.id}, data: { confirm: "Are you sure?" }, :method => :delete, :class=>"btn btn-danger btn-lg btn-block" %>
            </div>
        </div>
    </div>
</div>
