<div class="padding-navbar">
	<h1>Tournaments</h1>
	<%= link_to('Create a tournament', tournaments_new_path) %>

	<table class="table table-striped">
		<thead>
			<th>Name</th>
		</thead>

		<tbody>
			<% @tournaments.each do |t| %>
			<% if t.private == false %>
			<tr>
				<td><%= link_to t.name, tournaments_show_path(:tournamet_id => t.id)%></td>
				<% if @tournaments_orgnized.include?(t.id) %>
				<td><%= link_to 'Edit', tournaments_edit_path(:id => t.id)%></td>
				<% end %>
			</tr>
			<% end %>
			<% end %>
		</tbody>
	</table>
</div>
