<div class="padding-navbar tournament-background row">
    <div class="col-md-8 col-md-offset-2">
        <div class=" glass-container row">
            <h2>Create a Tournament</h2><br />
            <%= render "tournaments/form" %>
      </div>
    </div>
</div>
