<div class="padding-navbar">
    <h1><%=@sponsor.name%></h1>
    <%= link_to image_tag(@sponsor.logo.url, style: "max-height: 200px", alt:@sponsor.name), "http://#{@sponsor.website}"%>
    <br/>
    <%= link_to "Sponsor Website", "http://#{@sponsor.website}" %>
    <h3>Contact Information</h3>
    <p><%=@sponsor.contact%></p>
</div>
