<div class="about-us-image">
</div>

<div class="about-us-background">
    <div class="contacts-container">
        <% flash.each do |key, value| %>
            <div align='middle'>
                  <h1><%= value %></h1>
            </div>
        <% end %>
    </div>
</div>
