<div class="padding-navbar">
<h1>Sponsorships of <%= Tournament.find(params[:tournament_id]).name %></h1>

<table class="table table-striped">
    <thead>
        <th>Name</th>
        <th>Amount</th>
    </thead>
    <tbody>
        <% Sponsorship.where(tournament_id: params[:tournament_id]).each do |t| %>
        <tr>
            <td><%= link_to Sponsor.find(t.sponsor_id).name, sponsors_show_path(:sponsor_id => t.sponsor_id)%></td>
            <td><%= t.amount%></td>
        </tr>
        <% end %>
    </tbody>
</table>
</div>
