<div class="padding-navbar">
<h1>Sponsing a tournament</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h3>Create a new sponsor not in list</h3>
      <%= render "sponsors/form" %>
    </div>
    <div class="col-md-6 col-sm-12">
      <h3>Use an existing sponsor</h3>
      <%= render "sponsorships/form" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-12">
       <form>
          <label for="input_amount">Amount:</label>
          <input type="text" id="input_amount">
          <button id='donateButton' class="btn btn-primary">Donate</button>
      </form>
      <p id="error_explanation"></p>
    </div>
  </div>
</div>
</div>
<script src="https://checkout.stripe.com/checkout.js"></script>

<script>
var handler = StripeCheckout.configure({
  key: '<%= Rails.configuration.stripe[:publishable_key] %>',
  email: '<%= @user.email%>',
  locale: 'auto',
  token: function(token) {
    $('#stripe_token').val(token.id);
    $('form.new_sponsorship').submit();
  }
});

$('#donateButton').on('click', function(e) {
  e.preventDefault();
  $('#error_explanation').html('');
  var amount = $('#input_amount').val();
  amount = amount.replace(/\$/g, '').replace(/\,/g, '');
  amount = parseFloat(amount);
  var money = new RegExp('^[+]?([1-9][0-9]*(?:[\.][0-9]*)?|0*\.0*[1-9][0-9]*)(?:[eE][+-][0-9]+)?$');
  if (money.test(amount)) {
      amount = amount * 100; // Needs to be an integer!
      $('#amount').val(Math.round(amount));
      handler.open({
        name: 'Golf',
        description: 'pay',
        currency: 'cad',
        amount: $('#amount').val()
      })
  } else {
    $('#error_explanation').html('<p>Please enter a valid amount in CAD ($).</p>');
  }
});

// Close Checkout on page navigation
$(window).on('popstate', function() {
  handler.close();
});
</script>
