<div class="padding-navbar tournament-background">
<div class="container-fluid glass-container">
<%= link_to "< Back", @tournament %>
<h1>Sponsorships of <%= @tournament.name %></h1>
<table class="table table-striped">
    <thead>
        <th>Name</th>
        <th>Amount</th>
    </thead>
    <tbody>
        <% @sponsorship.each do |t| %>
        <tr>
            <td><%= link_to t.sponsor.name, t.sponsor %></td>
            <td><%= t.amount/100%></td>
        </tr>
        <% end %>
    </tbody>
</table>
</div>
</div>
