<div class="static-pages-head padding-navbar">
</div>
<div class ="container">
	<div class="col-xs-12 static-pages-content">

	<legend><h3>Frequent Asked Questions</h3></legend>

	<p>
		<h4>Q: Why are you building this website?</h4>
		A: This is a course project for CSC444 - Software Engineering.
	</p>
	<p>
		<h4>Q: Where did your team name came from?</h4>
		A: This is from a very interesting Chinese video, please look it up on youtube. "我在东北玩泥巴".
	</p>
	<p>
		<h4>Q: Who are you?</h4>
		A: Have a guess :)
	</p>
	<p>
		<h4>Q: Who do you think would be playing golf at this time of the year?</h4>
		A: Polar Bears?
	</p>
</div>
</div>
