// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.contacts-container{
  padding-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
}
