.login
{
    width: 250px;
    margin: 0 auto;
}

.registration
{
    padding-top: 20px;
    padding-bottom: 20px;
}

.signup-container{
  margin-top: 40px;
  padding-left: 65px;
  padding-right: 65px;
  background-color: rgba(255, 255, 255, 0.8);
}

p.form-title
{
    font-family: 'Open Sans' , sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #5b9bd1;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-top: 5%;
}

form.login input[type="email"],form.login input[type="password"]
{
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #FFFFFF;
    outline: 0;
    margin-bottom: 5px;
    color: #FFFFFF;
    outline: 0;
}


form.login input[type="submit"]
{
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 16px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

form.login input[type="submit"]:hover
{
    transition: background-color 0.5s ease;
}


form.login .login-button
{
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 16px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

form.login .login-button:hover
{
    transition: background-color 0.5s ease;
}

form.login .remember-forgot
{
    float: left;
    color: #5b9bd1;
    font-size: 12px;
    letter-spacing: 1px;
}
.links
{
    font-size: 12px;
    font-weight: 400;
    width: 250px;
    margin: 0 auto;
}

.links.a
{
    transition: color 0.5s ease;
    color: #FFFFFF;
}

.links:hover
{
    color: #2ecc71;
}
