// Place all the styles related to the partner controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.thumb {
    margin: 30px;
}
.partner-title-boarder{
      border-bottom: thin solid #006400;
      margin:20px;
}
