<div class="static-pages-head padding-navbar">
	<div class="container">
		<div class="col-lg-6">
	        <h2>Features and Maps</h2>
	    </div>
	</div>
</div>
<div class ="container">
	<div class="col-xs-12 static-pages-content">
		<p>
			<h4>Welcome to bla golf course</h4>
			This course is founded and built by our richest group member, Yizheng Yang. And it is used to ensure that no one could get to the last spot.
		</p>
		<h4>Site Map</h4>
		<%= image_tag("Site-Map.jpeg") %>
	</div>
</div>
